<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.onevizion.mylyn.connector.core.RepositoryConnector"
            name="Issue Tracker Connector Core">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/onevizion.png"
            class="com.onevizion.mylyn.connector.ui.OvConnectorUi"
            name="Issue Tracker Connector Ui">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            anonymous="false"
            label="trackor.onevizion.com"
            repositoryKind="com.onevizion.mylyn.connector"
            urlRepository="https://trackor.onevizion.com">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.onevizion.mylyn.connector.ui.editor.TaskEditorPageFactory"
            id="com.onevizion.mylyn.connector.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
